:root {
    --light-blue: #66E2DC;
    --orange: #FA7453;
    --gold: #FFB964;
    --white: #FCFAF9;
    --dark-blue: #191826;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "IBM+Plex+Sans", sans-serif;
    background-image: url(/equalizer-landing-page/starter-code/assets/bg-main-desktop.png);
    width: 1250px;
    margin: auto;
}

.logo {
    width: 146px;
    height: 32px;
}

#top-logo {
    margin-top: 50px;
    margin-bottom: 120px;
}

#main-header-container {
    width: 900px;
    margin-bottom: 300px;
}

#main-header {
    font-size: 4.5rem;
    font-weight: 700;
    margin-bottom: 30px;
}

#header-description {
    font-size: 1.3rem;
    line-height: 30px;
}

#bg-pattern-1 {
    position: absolute;
    right: 0;
    top: -40px;
    width: 312px;
    height: 468px;
}

#middle-stack {
    background-color: var(--dark-blue);
    height: 600px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#phone {
    width: 312px;
    height: 642px;
    margin-top: -200px;
    position: relative;
    z-index: 1;
}

#background-pattern-2 {
    width: 312px;
    height: 468px;
    position: absolute;
    left: 40%;
    z-index: 0;
}

#subscription-container {
    background-color: var(--orange);
    color: var(--white);
    width: 446px;
    height: 625px;
    border-radius: 10px;
    margin-top: 100px;
    position: relative; 
    z-index: 1;
    display: flex;
    flex-direction: column;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 70px;
}

#subscription-header {
    font-size: 2rem;
    margin-bottom: 30px;
}

#subscription-features {
    font-size: 1.3rem;
    line-height: 30px;
    margin-bottom: 20px;
}

#subscription-price {
    font-size: 1.3rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 30px;
}

#price-number {
    font-size: 3rem;
    font-weight: 700;
    margin-right: 10px;
}

button {
    height: 61px;
    width: 100%;
    border-radius: 10px;
    border-width: 0;
    font-family: "IBM+Plex+Sans", sans-serif;
    font-weight: 600;
    font-size: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.button-logo {
    margin-right: 5px;
}

#apple-button {
    background-color: var(--dark-blue);
    color: var(--white);
    margin-bottom: 10px;
}

#apple-button:hover {
    background-color: var(--light-blue);
    cursor: pointer;
}

#android-button:hover {
    background-color: var(--gold);
    cursor: pointer;
}

#page-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 200px;
}

#copyright-info {
    width: 366px;
    height: 79px;
    font-weight: 100;
    margin-left: -200px;
}

#email {
    font-weight: 700;
}

#socials {
    width: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.social-logo {
    height: 20px;
    width: 20px;
}

.social-logo:hover {
    cursor: pointer;
}

@media screen and (max-width: 1200px) {
    body {
        width: 700px;
    }

    #bg-pattern-1 {
        width: 220px;
        height: 350px;
    }

    #main-header-container {
        width: 520px;
    }

    #main-header {
        font-size: 4rem;
    }

    #header-description {
        font-size: 1.1rem;
    }

    #phone {
        position: absolute;
        margin-left: -40%;
    }

    #subscription-container {
        position: absolute;
        width: 400px;
        margin-right: -28%;
    }

    #page-footer {
        flex-direction: column;
        margin-left: 3%;
    }

    #bottom-logo {
        margin-bottom: 20px;
    }

    #copyright-info {
        margin-left: 0;
    }
}

@media screen and (max-width: 500px) {
    body {
        width: 300px;
    }

    #bg-pattern-1 {
        display: none;
    }

    #main-header-container {
        width: 240px;
    }

    #main-header {
        font-size: 2rem;
    }

    #header-description {
        font-size: 1rem;
    }

    #phone {
        position: relative;
        margin-left: 0;
        width: 208px;
    }

    #middle-stack {
        width: 100%;
        height: 800px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    #background-pattern-2 {
        display: none;
    }

    #subscription-container {
        position: relative;
        width: 300px;
        margin-right: 0;
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 40px;
        padding-bottom: 20px;
    }

    #subscription-features {
        font-size: 1rem;
        line-height: 30px;
        margin-bottom: 20px;
}

    #subscription-price {
        font-size: 1rem;
}

    #price-number {
        font-size: 2rem;
}

    button {
        height: 41px;
        font-weight: 400;
        font-size: 1rem;
    }

    #page-footer {
        flex-direction: column;
        justify-content: space-between;
        margin-top: 50px;
    }

    #copyright-info {
        width: 100%;
        margin-bottom: 20px;
    }


}
